<section id="partial-profil"></section>
<section id="partial-bedienungshinweis"></section>
<section class="view-content cleaning" ng-controller = "DragDropCtrl">
    <div class="hero" ng-controller = "EditorCtrl">
        <section id="partial-data-processing"></section>
        <section id="partial-searchreplace" ng-show="showSearchReplace"></section>
        <section id="partial-commentbox" ng-show="showCommentBox"></section>
        <section id="partial-new-commentbox" ng-show="showNotify"></section>
        <div id="infobox" ng-show = "showInfoBox">
            <h3>Zuletzt geändert</h3>
            <div class="content">
                <span>am {{currentInfoData.DatumZeit}}</span><br />
                <span>von {{currentInfoData.Ersteller}}</span>
            </div>
        </div>
        <span class="inner"></span>
    
        <div id="angebotsContainer"> 
            <nav>
                <div class="col-lg-2">

                </div>
                <div class="col-lg-6">
                    <span class="set-icon lightgrey" md-colors="{background: '{{primary+'-500-0.90'}}'}" ng-click="showInfoBox = true;" role="button" tabindex="0"><icon class="info"></icon></span>
                    <div class="control-buttons fright menu-bar" md-colors="{background: '{{primary+'-500-0.90'}}'}">
                        <span ng-click="open = !open"><span class="set-icon small" role="button" tabindex="0"><icon class="commenting">&nbsp;</icon></span> KOMMENTIEREN</span>
                        <span class="fleft" ng-show="open" $event.stopPropagation();>
                            <span class="set-icon small" role="button" tabindex="0" x-lvl-draggable="true"><icon class="commenting">&nbsp;</icon></span>
                            <span class="set-icon small" role="button" tabindex="0"><icon class="brush">&nbsp;</icon></span>
                            <span class="set-icon small" role="button" tabindex="0"><icon class="textbox">&nbsp;</icon></span>
                            <span><a ng-click = "ShowKorrekturen();" style="text-decoration: none !important; color:#fff !important;">KORREKTUREN <span ng-bind = "korrekturenStatus ? 'AUSBLENDEN' : 'ANZEIGEN'"></span></a></span>
                        </span>
                    </div>
                </div>
                <div class="search-box col-lg-4">
                    <div class="col-lg-5">
                        <div class="control-buttons">
                            <button class="btn btn-default btn-lg" type="button" ng-click="showSearchReplace = true" md-colors="{background: '{{primary}}-500-0.90'}">SUCHEN & ERSETZEN</button>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div show-tag="true" id="custom-search-input" class="control-buttons input-group col-md-12">
                            <input type="text" ng-model="search.text" class="form-control input-lg ng-pristine ng-valid ng-touched ng-empty" placeholder="SUCHE" aria-invalid="false" ng-keypress= "$event.stopPropagation();"><span class="input-group-btn">
                                <span class="set-icon">
                                    <icon class="search"></icon>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
            <aside id="aside-editor" ng-show = "showEditorElements">
                <ul class="navibar">
                    <li><button class="download" ng-click="openPdfModal(pages);"><span class="set-icon"><icon class="pdfexport">&nbsp;</icon></span> DOWNLOAD</button></li>
                    <li><button class="freigabe-intern" style="text-align:center;" ng-click="setStatus(2);">ZUR FREIGABE INTERN</button></li>
                    <li>&nbsp;</li>
                    <li><button class="freigabe" ng-click="setStatus(3);"><span class="set-icon"><icon class="proof">&nbsp;</icon></span> FREIGABE</button></li>
                    <li><button class="produktion"><span class="set-icon" ng-click="setStatus(4);"><icon class="proof">&nbsp;</icon></span> PRODUKTION</button></li>
                </ul>
            </aside>
            <div class="wrapContainer" x-lvl-drop-target="true">
                <object id="angebotsEditor" doc-module-components="ngSanitize" url="$::page{editor}" type="text/html" frameborder="0" border="0" scrolling="no" hspace="0" vspace="0" allowtransparency="true">
                    <small>Der Inhalt kann nicht angezeigt werden.</small>
                </object>
                <div id="pagination">
                    <div id="arrowL">
                        <span class="set-icon small" role="button" tabindex="0"><icon class="goToFirst">&nbsp;</icon></span>
                        <span class="set-icon small" role="button" tabindex="0"><icon class="goToPrev">&nbsp;</icon></span>
                    </div>
                    <div id="arrowR">
                        <span class="set-icon small" role="button" tabindex="0"><icon class="goToNext">&nbsp;</icon></span>
                        <span class="set-icon small" role="button" tabindex="0"><icon class="goToLast">&nbsp;</icon></span>
                    </div>
                    <div id="list-container">
                        <div class='list'>
                            <div class="item einzelseite first">
                                <a href="javascript:void(0);" data-page = "cover" ng-click="setCurrentPage('cover');" class="active">
                                    <img src="$::site{base/editor/images/preview.png}" alt="Cover-Seite" width="102" height="144">
                                </a>
                            </div>
                            <div class="item doppelseite">
                                <a href="javascript:void(0);" data-page = "inhalt" ng-click="setCurrentPage('inhalt');" >
                                    <div class="fleft"><img src="$::pages{1/PreviewThumb.png}" alt="Seite 1" width="102" height="144"></div>
                                    <div class="fright"><img src="$::pages{2/PreviewThumb.png}" alt="Seite 2" width="102" height="144"></div>
                                    <div class="clr"></div>
                                </a>
                            </div>
                            <div ng-repeat="page in pages" class="item doppelseite">
                                <a href="javascript:void(0);" data-page = "{{$index+1}}" ng-click="setCurrentPage($index+1);">
                                    <div class="fleft"><img src="/pages/{{pageNumber[$index][0] + 2}}/PreviewThumb.png" alt="Seite 1" width="102" height="144"></div>
                                    <div class="fright"><img src="/pages/{{pageNumber[$index][1] + 2}}/PreviewThumb.png" alt="Seite 2" width="102" height="144"></div>
                                    <div class="clr"></div>
                                </a>
                            </div>
                            <!--<div class="item einzelseite last">
                                <a href="javascript:void(0);" data-page = "ende">
                                    <img src="http://tischler-design.mein-marketing-center.de/upload/kundenmagazin/vorlagen/vorlage_1/navigation/navi-seite-8.png" alt="Seite 8" width="102" height="144">
                                </a>
                                <span class="title">Ende</span>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>