RewriteEngine on

RewriteBase /

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

RewriteRule ^([a-zA-Z0-9-_]*)/?$ /?filename=$1&filetype=$3&%{QUERY_STRING} [L]
RewriteRule ([\.a-zA-Z0-9/_-]*)(\.{1})([a-zA-Z]{2,4})$ /?filename=$1&filetype=$3&%{QUERY_STRING} [L]

ErrorDocument 404 /